{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  }
}
